.not-found-container {
    text-align: center;
    margin-top: 70px;
}
  
.not-found-title {
    font-size: 40px;
    color: #d8cccc;
}
  
.not-found-message {
    font-size: 22px;
    color: #beb1b1;
}
  
.not-found-link {
    color: #98caff;
    text-decoration: underline;
}