.details-container {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    color: rgb(26, 25, 25);
}
  
.repository-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.repository-description {
    margin-bottom: 20px;
    font-size: 20px ;
    font-weight:bold;
}
  
.repository-details p {
    margin-bottom: 8px;
}
  
.go-home-link {
    width: fit-content;
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #24b44f;
    font-size: 20px;
    color: #f4f4f4;
}
  
.go-home-link:hover {
    background-color: #06ff51;
    color: #f4f4f4;
}
  